 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
 
 
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }
 
 body{
   background: url("/images/background.jpg");
   background-size: cover;
   background-position: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
 }
.navbar{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45rem;
  margin-top: 1.5rem;
  
}

.github{
  text-align: center;
}

.github i{
  color: #fff;
  font-size: 18px;
}
.github a{
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  
}
.github a:visited,
.github i:visited{
  color: #fff;
}
.github:hover{
  color: #00FCFF;
}
 
.logo{
  margin-left: -12rem;
  position: relative;
}

.logo h2{
  font-size: 2.4em;
  position: absolute;
  transform: translate(-50%,-50%);
}

.logo h2:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.logo h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 1.7s ease-in-out infinite;
}

 
 @keyframes animate {
 
   0%,
   100% {
clip-path: polygon(0 47%, 8% 36%, 19% 27%, 31% 29%, 42% 45%, 48% 66%, 58% 79%, 76% 79%, 89% 75%, 100% 63%, 100% 100%, 0 100%);
	   }
 
   50% {
clip-path: polygon(0 64%, 8% 76%, 19% 80%, 31% 78%, 42% 68%, 48% 46%, 58% 30%, 76% 28%, 89% 37%, 100% 48%, 100% 100%, 0 100%);
	   }
 }
 
 
 
 
 
.container{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 400px;
  height: 100px;
  padding: 20px;
  border-radius: 16px;
  color: #fff;
  transition: height .6s ease;
}

.search_box{
  position: relative;
  justify-content: center;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}

.search_box input{
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  border:2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 10px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42px;
}

.search_box input::placeholder{
  color: #fff;
  text-transform: capitalize;
}
.search_box i{
  font-size: 28px;
  position: absolute;
  left: 10px;

}
.search_box button{
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 28px;
  color: #fff;
  padding: 0 40px 0 42px;
}

.weather-box img{
  width: 60%;
}
.weather-box{
  text-align: center;
  margin: 40px 0;
}


.weather-box,
.weather-details,
.not-found{
  overflow: hidden;
  visibility: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active {
  visibility: visible;
}

.weather-box .box,
.not-found .box {
  transform: translateY(-100%);
}

.weather-box.active .box,
.not-found.active .box {
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: 0.6s;
}


.weather-box .temperature{
  position: relative;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0 6px -30px;
}


.weather-box .temperature span{
  position: absolute;
  font-size: 24px;
  margin-left: 4px;
}

.weather-box .description{
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details{
  position: absolute;
  bottom: 2rem;
  width: 100%;
  left: 0;
  display: flex;
  padding: 0 20px;
}

.weather-details .humidity,
.weather-details .wind{
  display: flex;
  align-items: center;
  width: 50%;
  transform: translateY(-100%)
}


.weather-details.active .humidity,
.weather-details.active .wind {
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: 1.2s;
}


.weather-details .humidity{
  padding-left: 1.25rem;
  justify-content: flex-start;
}

.weather-details .wind{
  padding-right: 1.25rem;
  justify-content: flex-end;
}


.weather-details i{
  font-size: 56px;
  margin-right: 0.8rem
}

.weather-details span{
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
}

.weather-details p{
  font-size: 14px;
  font-weight: 500;
}


.not-found{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 110px;
}

.not-found img{
  width: 65%;
}

.not-found p{
  font-weight: 500;
  font-size: 22px;
  margin-top: 12px;
}